#stage {
    width: 300px;
    height: 300px;
    position: relative;
}

#background {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(./img/space.jpg);
}

#cannon {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 270px;
    left: 140px;
    background-color: red;
}

#alien {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 80px;
    background-color: green;
}

#missile {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 240px;
    left: 145px;
    background-color: magenta;
}